#nb-footer{
    background: #0f5fb1;
    padding: 3% 0;
    .nb-title{
        color: #ffffff;
        text-transform: uppercase;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 10px;
        position: relative;
        &::after{
            content: "";
            width: 30%;
            height: 5px;
            background: orange;
            position: absolute;
            display: block;
            left: 0;
            bottom: -7%;
        }
    }
    .nb-content{
        color: #ffffff;
        .nb-footer-list{
            list-style: none;
            padding: 0;
            .nb-footer-item{
                padding: 5px 0;
                a{
                    color: #ffffff;
                    text-decoration: none;

                }
                &:hover{
                    a{
                        color: orange;
                    }
                }
            }
        }
    }
    .nb-social{
        a{
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 34px;
            text-align: center;
            border: 1px solid #719ac3;
            margin-right: 3px;
            font-size: 16px;
            border-radius: 5px;
            i{
                color: #ffffff;
            }
            &:hover{
                border-color: #ffffff;
            }
        }
    }
}

#nb-copyright{
    background: #003c79;
    p{
        margin-top: 16px;
        color: #ffffff;
    }
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #cccccc;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    i{
        vertical-align: middle;
    }
}
#back-to-top:hover {
    background: #f99d1c;
}
#back-to-top.show {
    opacity: 1;
}


