.hd-title-page--bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hd-title-page--overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cde4f1;
    background: linear-gradient(#FFFFFF, #cde4f1);
    opacity: 0.9;
}
.hd-title-page{
    text-align: center;
    padding: 4%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-family: initial;
}

.hd-new-item{
    .hd-new-item__border{
        border: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        .hd-new-item__border--box-img{
            overflow: hidden;
            position: relative;
            border-bottom: 1px dotted #ccc;
            img{
                transition: all ease 0.7s;
                height: 250px;
                width: 100%;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .hd-new-item__border--content{
            padding: 10px;
            .hd-title{
                a{
                    color: #000;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: normal;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    transition: all ease 0.5s;
                    &:hover{
                        color:#0f5fb1;
                    }
                }
            }
            .hd-short-desc{
                p{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                }
            }
        }
    }
}